<section class="header">
  <nav><%= link_to 'New Team', new_team_path, :class=>"button" %></nav>
  <h1>Listing Teams</h1> 
</section>

<table cellpadding=5 cellspacing =0 border=1>
  <tr>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.team %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

