<section class="header">
  <nav><%= link_to 'New Goal', new_goal_path, :class=>"button" %></nav>
  <h1>Listing Goals</h1> 
</section>

<table cellpadding=5 cellspacing =0 border=1>
  <tr>
    <th>Goal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.goal %></td>
    <td><%= link_to 'Show', goal %></td>
    <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
    <td><%= link_to 'Destroy', goal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

